:root {
  --text-primary: #e1e1e7;
  --text-secondary: #a8a8b3;
  --purple: #3640d7;

  --header: rgba(21, 23, 24, 0.35);
  --menu: rgba(21, 23, 24, 0.774);

  --border: hsl(220, 13%, 23%);
}